body{
	text-align:center;
}
#wholeBody{
		width:1020px;
	margin: 20px auto;
	background:#FFFFFF;
    border:1px solid #C0C0C0;
   -webkit-border-radius:15px;
}
#topHead{
	display:block;
	border:2px solid #581845;
	margin:0px;
	text-align:center;
	vertical-align: middle;
	background:white;

	-webkit-border-radius:15px;
}
#underline{
	text-decoration:none;
}
#sidebar{
	float:left;
	text-align:left;
	border:1px solid #1A8DA9;
	position:relative;
	width:210px;
	height:500px;
	margin:10px;
	background:#1A8DA9;
	
}

#sidebar a{
	padding-right:100px;
	padding:5px;
		text-decoration:none;
		
        color:white;		
}

#sidebar ul li{
	padding:10px;
	display:block;
	list-style-type:none;
	border-bottom:1px solid #C0C0C0;
	
}
#sidebar ul li :hover{
	background:#4097AD;
	color:black;
}
#sidebar ul li a :hover{
	color:black;
}
.selected{
	background:white;
}
.selected a{
	color:black;
}
span{margin-right:7px;}
#mainbody{
	margin:12px;
	float:left;
	width:740px;
    border:1px solid #C0C0C0;

	height:500px;
	position:relative;
}
#foot{
clear:both;
	height:10%;
	position:relative;
	text-align:center;
	border:1px solid #C0C0C0;
	-webkit-border-radius:5px;
	
}
#content{
	border:1px solid #C0C0C0;
	margin:10px;
	padding:20px;
	height:300px;
	width:670px;
	overflow:auto;
}

#content td{
	padding:10px;
	
}

#addmenu{

	position:relative;
	top:50%;
	transform: translateY(-50%);
	
}
#addtable{
	width:400px;
	left:190px;
	position:relative;
	box-shadow: 4px 4px 3px #888888;
	border:1px solid #C0C0C0;
	background: white;
}
#Adds{
	box-shadow: 4px 4px 3px #888888;
	border:1px solid #C0C0C0;
	background: white;
	margin-bottom:10px;
}

#AddsTable{
	
	width:500px;
	left:120px;
	position:relative;
}

#placeAddTable{
	width:500px;
	left:120px;
	position:relative;
}
#placeAdd{
	box-shadow: 4px 4px 3px #888888;
	border:1px solid #C0C0C0;
	background: white;
}
#logoadmin{
border:1px solid white;
background:white;
position:relative;
height:100px;
width:110px;
margin-left:20px;

}

#textadmin{
	font:bold 35px century white;
	color: #581845;
	text-shadow:rgb(110,110,110) 6px 6px 5px;
	position:absolute;
	left:480px;
	top:30px;
	
}
#logo{
border:1px solid white;
background:white;
position:relative;
height:100px;
width:110px;
margin-left:20px;

}
#divtop{
		text-decoration:none;
background:white;
position:absolute;
top:80px;
height:19px;
width:110px;
margin-left:900px;

}
#msg5{
	
	position:absolute;
	top:190px;
	left:210px;
	color:green;
}
.messageadmin{
	
	border:1px solid #FBEEE6;
	margin-bottom:20px;
	color:Black;
	height:305px;
	width:645px;
	background:#FBEEE6;
	box-shadow: 4px 4px 3px #888888;

}
.Divmessage{
		text-align:left;

	border:1px solid #C0C0C0  ;
	margin-bottom:20px;
	height:150px;
	width:650px;
		background:#fdfefe ;
		color:black;

	box-shadow: 4px 4px 3px #888888;
	overflow:auto;
}

#top{
	text-decoration:none;
	font-size:35px;
	color:  #5b2c6f  ;
}
#restaurantname{
	box-shadow: 4px 4px 3px #888888;
	border:1px solid #008080;
	background: #008080;
	color:white;
	height:50px;
	margin-bottom:10px;
	width:650px;
}
.passbut{
	border:#F52B37;
	background-color:#F52B37;
	border-radius:3px;
	color:White;
	cursor:pointer;
	font-size:13px;
	padding:10px 50px;
}
.passbut:hover{
	background-color:#CB4335;
	color:White;
}
#restaurantnamead{
	box-shadow: 4px 4px 3px #888888;
	border:1px solid #008080;
	background: #008080;
	color:white;
	height:55px;
	margin-bottom:10px;
	width:665px;
}
.divordertext{
	position:relative;
	height:100px;
	width:420px;
	float:left;
	text-align:left;
	padding-top:25px;
	margin-left:40px;
	
}
.OrderHistoryDiv{
	border:1px solid #C0C0C0;
	background: white;
	box-shadow: 8px 8px 8px #888888;
	margin-bottom:25px;
	height:175px;
	width:650px;
	overflow:auto;
}
.OrderHistoryDivbde{
	border:1px solid #C0C0C0;
	background: white;
	box-shadow: 8px 8px 8px #888888;
	margin-bottom:25px;
	height:254px;
	width:650px;
	overflow:auto;
}
.OrderHistoryDivbhmoe{
	border:1px solid #C0C0C0;
	background: white;
	box-shadow: 8px 8px 8px #888888;
	margin-bottom:25px;
	height:250px;
	width:680px;
	overflow:auto;
}
.updatemenu{
	float:left;
	width:320px;
	height:100px;
}
.updatebutton{
	float:left;
	width:80px;
	height:100px;
}
.divorderimagecontainer{
	position:relative;
	height:100px;
	width:100px;
	float:left;
	margin-left:20px;

}
.divorderimagecontainer img {
width: 100%;
height: 100%;
}

.DivPlaceOrder{
    border:1px solid #C0C0C0;
	background: white;
	box-shadow: 8px 8px 8px #888888;
	margin-bottom:25px;
	height:100px;
	width:650px;
}

.business_approval{
	border:1px solid black;
	margin-bottom:20px;
	height:100px;
	width:650px;
}
.approvebutton{
	position:relative;
	width:70px;
	height:25px;
	top:35px;
	left:550px;
	
}

.addimagecontainer{
	position:relative;
	height:80px;
	width:80px;
	float:left;
	margin-left:20px;

}

.addimagecontainer img {
width: 100%;
height: 100%;
}
.addtext{
	position:relative;
	height:80px;
	width:150px;
	float:left;
	text-align:left;
	padding-top:25px;
	margin-left:40px;
}

.regbut{
	border:#204d74;
	background-color:#2e6da4   ;
	border-radius:3px;
	color:White;
	cursor:pointer;
	font-size:13px;
	padding:10px 50px;
}
.regbut:hover{
	border:#204d74;
	background-color:#286090    ;
	color:White;
}


@keyframes example {
   
    50%  {background-color: #1DDB13   ;}
    100% {background-color: #14DCB4 ;}
}
.pos{
	border:1px solid none;
	margin:30px;
	float:left;
	width:300px;
	height:80px;
	
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 1s;

    animation-iteration-count: infinite;

}

footer{
	position:relative;
	top:50%;
	transform: translateY(-50%);
}